* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ************* general selectors ************* */

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.white-text {
    color: white;
}

.subtitle {
    color: #7a7c81;
}

/* ************* header selectors ************* */

header {
    width: 230px;
    height: calc(100vh - 80px);
    background-color: #000000;
}

/* ************* main selectors ************* */

main {
    height: calc(100vh - 80px);
    width: calc(100vh - 230px);
    flex-grow: 1;
    background-color: #141922;
}

button {
    text-transform: uppercase;
    padding: 0.6rem 1.5rem;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #080b12;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* top part */

aside {
    height: 70px; 
}

aside li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 1rem 1rem;
    font-weight: 600;
    color: #7c7e83;
}

#upgrade {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    position: relative;
}

/* central part */

div.wrapper {
    overflow-y: scroll;
}

.recently-played {
    padding-bottom: 2rem;
}

.card {
    min-width: 135px;
    text-align: center;
    width: calc((100% / 6) - 2rem);
}

.recently-played figure {
    width: 100%;
}

.card > * {
    width: 100%;
}

.recently-played img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

div.distancer {
    width: 2vw;
    height: 100%;
}

.recently-played>h1:first-child {
    margin: 0 0 2rem 2rem;
}

.creato-per-john-doe .card {
    width: calc((100% / 3) / 2 - 3rem);
}

.creato-per-john-doe .suggested-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* ************* footer selectors ************* */

footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}