* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ************* general selectors ************* */

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.white-text {
    color: white;
}

.subtitle {
    color: #7a7c81;
}

.section-title {
    margin: 0 0 1rem 1rem;
}

.section-subtitle {
    margin: 0 0 0.5rem 1rem;
}

/* ************* header selectors ************* */

header {
    width: 150px;
    height: calc(100vh - 80px);
    background-color: #000000;
    position: fixed;
}

header img {
    margin-top: 1rem;
}

header li {
    margin: 0.75rem 1rem;
    font-size: 0.75rem;
}

header h2 {
    margin: 1.5rem 1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.fa-plus {
    margin-right: 0.25rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 800;
    color: black;
    background-color: #a3a3a3;
}

#logo-header {
    padding: 0 3rem 1rem 1rem;
}

/* bottom header selectors */

.bottom-header {
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.bottom-header * {
    text-decoration: none;
}

.bottom-header hr {
    margin: 0.75rem 0;
}

/* ************* main selectors ************* */

main {
    width: 100vh;
    flex-grow: 1;
    background-color: #141922;
    padding-left: 150px;
    overflow-y: auto;
}

button {
    text-transform: uppercase;
    padding: 0.6rem 1.5rem;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #080b12;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

div.wrapper {
    padding-bottom: 80px;
}

/* top part */

aside {
    height: 70px; 
}

aside li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 1rem 1rem;
    font-weight: 600;
    color: #7c7e83;
}

#upgrade {
    height: 80px;
    width: 100%;
    background-color: #080b12;
    position: relative;
}

/* central part */


/* recently played selectors */
.recently-played {
    padding-bottom: 2rem;
}

.card {
    text-align: center;
    width: calc((100% / 6) - 2rem);
    margin: 1rem;
}

.recently-played figure {
    width: 100%;
}

.recently-played img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

/* created for user selectors */
.creato-per-john-doe .card {
    width: calc((100% / 2) - 2rem);
    margin-bottom: 2rem;
}

.creato-per-john-doe .container {
    width: calc(100% / 3 );
}

.creato-per-john-doe img {
    width: 100%;
    margin-bottom: 1rem;
}

/* created for user selectors */
.artisti-popolari .card {
    width: calc((100% / 2) - 2rem);
    margin-bottom: 2rem;
}

.artisti-popolari .container {
    width: calc(100% / 3 );
}

.artisti-popolari figure {
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
}

.artisti-popolari img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

/* ************* footer selectors ************* */

footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}