* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

/* ************* general selectors ************* */

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.white-text {
    color: white;
}

.subtitle {
    color: #7a7c81;
}

.section-title {
    margin: 0 0 1rem 1rem;
}

.section-subtitle {
    margin: 0 0 0.5rem 1rem;
}

.card figure p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

div.wrapper {
    height: calc(100vh - 80px);
}

.vertical-green-segment {
    display: inline-block;
    height: 20px;
    width: 3px;
    background-color: #adff2f;
    margin-right: 0.25rem;
    transform: translate(0, 5px);
    opacity: 0;
}

/* ************* header selectors ************* */

header {
    width: 200px;
    height: 100%;
    background-color: #000000;
    overflow-y: auto;
}

/* top header selectors */
header img {
    margin-top: 1rem;
}

header li {
    margin: 0.75rem 1rem;
    font-size: 0.9rem;
}

header h2 {
    margin: 1.5rem 1rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.fa-plus {
    margin-right: 0.25rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 800;
    color: black;
    background-color: #a3a3a3;
}

#logo-header {
    padding: 0 3rem 1rem 1rem;
}

#logo-header-small {
    display: none;
}

/* bottom header selectors */

.bottom-header {
    width: 100%;
    padding: 1rem;
    justify-self: flex-end;
}

.bottom-header * {
    text-decoration: none;
}

.bottom-header hr {
    margin: 0.75rem 0;
    border: 1px solid #7a7c81;
}

.bottom-header a {
    font-size: 0.9rem;
}

.bottom-header .fa-circle-user {
    font-size: 1.25rem;
    vertical-align: middle;
}

/* ************* main selectors ************* */

main {
    width: calc(100% - 200px);
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}

button {
    text-transform: uppercase;
    padding: 0.6rem 1.5rem;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #080b12;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
}

/* top part */

aside {
    height: 70px; 
    margin-top: 80px;
}

aside li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #7c7e83;
    padding: 0 1rem;
    line-height: 2rem;
}

.horizontal-green-segment {
    width: 20px;
    height: 3px;
    background-color: #adff2f;
    margin: 0 auto;
    opacity: 0;
}

#upgrade {
    height: 80px;
    width: calc(100% - 200px);
    background-color: #080b12;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

/* central part */


/* recently played selectors */
.recently-played {
    padding-bottom: 2rem;
}

.card {
    text-align: center;
    width: calc((100% / 6) - 1rem);
    margin: 0.5rem;
}

.card h2{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.recently-played figure {
    width: 100%;
    position: relative;
}

.recently-played img {
    width: 100%;
    object-fit: cover;
}

/* created for user selectors */
.creato-per-john-doe .card {
    width: calc((100% / 2) - 1rem);
    margin-bottom: 2rem;
}

.creato-per-john-doe .container {
    width: calc(100% / 3 );
}

.creato-per-john-doe figure {
    position: relative;
}

.creato-per-john-doe img {
    width: 100%;
    margin-bottom: 1rem;
}

/* created for user selectors */
.artisti-popolari .card {
    width: calc((100% / 2) - 1rem);
    margin-bottom: 2rem;
}

.artisti-popolari .container {
    width: calc(100% / 3 );
}

.artisti-popolari figure {
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.artisti-popolari img {
    border-radius: 50%;
    width: 100%;
    margin-bottom: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

/* ************* footer selectors ************* */

footer {
    height: 80px;
    width: 100%;
    background-color: #282828;
    position: fixed;
}

/* playing element selectors */

.playing-element {
    height: 80px;
    width: 200px;
}

.playing-element figure {
    text-align: center;
    width: 30%;
}

.playing-element figure img {
    width: 70%;
    min-width: 35px;
    padding: 0.5rem;
}

.playing-element>p {
    width: 25%;
    font-size: 0.8rem;
}

.track-infos {
    width: 45%
}

.track-infos p:first-child {
    font-size: 0.8rem;
}

.track-infos p:nth-child(2) {
    font-size: 0.6rem;
}

/* central command bar selectors */

.central-command-bar {
    height: 80px;
    width: 600px;
}

.central-command-bar ul {
    text-align: center;
}

.central-command-bar li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    vertical-align: middle;
}

.central-command-bar i.fa-circle-play {
    font-size: 2rem;
}

.time {
    width: 100%;
}

.bg-bar {
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    border: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.time-bar {
    width: 30%;
    height: 5px;
    background-color: #c1c1c1;
    border: none;
    position: absolute;
    top: 0.5rem;
    border-radius: 0.5rem;
}

.scrollbar {
    width: 70%;
    height: 20px;
    position: relative;
}

.time-remaining,
.time-passed {
    width: 10%;
    text-align: center;
    font-size: 0.75rem;
}

/* right command bar selectors */

.right-command-bar {
    width: 200px;
    height: 80px;
}

.right-command-bar li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
}

.volume-bg-bar {
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    border: none;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.volume-bar {
    width: 35%;
    height: 5px;
    background-color: #c1c1c1;
    border: none;
    position: absolute;
    top: 0.5rem;
    border-radius: 0.5rem;
}

.volume {
    width: 40%;
    height: 20px;
    position: relative;
}


/* ************* pseudo selectors ************* */

button:hover {
    scale: 1.25;
}

.card figure:hover p {
    display: block;
}

.card figure:hover img{
    opacity: 0.5;
}

footer .fa-circle-play:hover {
    scale: 1.25
}

.volume-bar:hover,
.time-bar:hover {
    background-color: #88b343;
    height: 7px;
    transform: translate(0, -1px);
}

.playing-element i:hover,
.track-infos p:hover,
.bottom-header a:hover,
aside li:hover,
header li:hover {
    color: white;
}

aside li:hover .horizontal-green-segment {
    opacity: 1;
}


header li:hover .vertical-green-segment {
    opacity: 1;
}


/* !!!!!!!!!!! Media Query !!!!!!!!!!! */

/* tablet md size media query */
@media screen and (max-width: 992px) {

    /* changing size of album's space */
    .card {
        width: calc((100% / 4) - 1rem);
    }
    
    .recently-played .container {
    flex-wrap: wrap;
    justify-content: left;
    }

    .creato-per-john-doe .container {
        width: calc(100% / 2);
        flex-wrap: wrap;
        justify-content: left;
        }

    .artisti-popolari .container {
        width: calc(100% / 2);
        flex-wrap: wrap;
        justify-content: left;
        }
    /* changing behavior of time scrollbar */
    .scrollbar {
        width: 70%;
        height: 20px;
        position: relative;
        flex-shrink: 3;
    }

    .right-command-bar ul {
        display: flex;
    }

    .right-command-bar ul li {
        display: flex;
    }

    .recently-played h1 {
        margin-top: 1rem;
    }

}

/* tablet/phone s size media query */
@media screen and (max-width: 768px) {

    /* changing size of album's space */
    .card {
        width: calc((100% / 2) - 1rem);
    }
    
    .recently-played .container {
    flex-wrap: wrap;
    justify-content: left;
    }

    .creato-per-john-doe .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
        }

    .artisti-popolari .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
        }
}

/* smartphone xs size media query */ 
@media screen and (max-width: 575px) {
    
    /* changing header & main proportions */

    header {
        width: 40px;
    }

    #upgrade {
        width: calc(100% - 40px);
    }

    main {
        padding-left: 40px;
    }

    /* text elements disappearing */
    header span,
    header h2,
    header hr,
    ul.playlists {
        display: none;
    }

    #logo-header {
        display:none;
    }

    /* small logo appearing and dimensioning */
    #logo-header-small {
        display: block;
        height: 20px;
        margin: 0 auto;
    }

    header li {
        margin: 0.75rem 0;
        width: 100%;
        text-align: center;
    }

    .bottom-header {
        padding: 0;
        text-align: center;
    }

    .fa-circle-arrow-down {
        margin-bottom: 0.75rem;
        font-size: 0.75rem;
    }

    /* changing size of album's space */
    .card {
        width: calc((100% / 2) - 1rem);
    }
    
    .recently-played .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .creato-per-john-doe .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

    .artisti-popolari .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

    /* changing fon size of track-infos */
    .track-infos p:first-child {
        font-size: 0.6rem;
    }

    .track-infos p:nth-child(2) {
        font-size: 0.4rem;
    }

}